@model QLSachOnline.Models.theloai
@{
    ViewBag.Title = "Quản lý thể loại";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
    QLSachOnline.Models.QLySachOnline db = new QLSachOnline.Models.QLySachOnline();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-11">
                        <h2>Quản lý thể loại</h2>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="checkcheck()" data-toggle="modal" data-target="#modalThem">Thêm thể loại</button>
                    @using (Html.BeginForm("themTheLoai", "TheLoai", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal" id="modalThem">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm thể loại</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body ">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.maloai, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.maloai, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.maloai, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.tentl, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.tentl, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.tentl, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ghichu, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.ghichu, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ghichu, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Thêm" class="btn btn-primary" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mã thể loại</th>
                                <th>Tên thể loại</th>
                                <th>Ghi chú</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int dem = 0;
                                foreach (var item in db.theloais)
                                {
                                    <tr>
                                        <td>@item.maloai</td>
                                        <td>@item.tentl</td>
                                        <td>@item.ghichu</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalXoa_@dem">Xóa</button>
                                            <form action="@Url.Content("/TheLoai/xoaTheLoai/" + item.maloai)" method="post">

                                                <div class="modal" id="modalXoa_@dem">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Xóa thể loại</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>


                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row form-group">
                                                                        <div class="col-md-3">Mã thể loại:</div>
                                                                        <div class="col-md-6">@item.maloai</div>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-3">Tên thể loại:</div>
                                                                        <div class="col-md-6">@item.tentl</div>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-3">Ghi chú:</div>
                                                                        <div class="col-md-6">@item.ghichu</div>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="modal-footer">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-md-1">&nbsp;</div>
                                                                        @{
                                                                            bool flagXoa = false;
                                                                            foreach (var item2 in item.saches)
                                                                            {
                                                                                if (item2.theloais.Contains(item))
                                                                                {
                                                                                    flagXoa = true;
                                                                                    break;
                                                                                }

                                                                            }
                                                                            if (flagXoa)
                                                                            {
                                                                                <div class="col-md-8"><h3 class="text-danger">Không thể xóa</h3></div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="col-md-8"><button type="submit" class="btn btn-primary">Xóa</button></div>
                                                                            }
                                                                        }
                                                                        <div class="col-md-3"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalChinhsua_@dem">Chỉnh sửa</button>
                                            <form action="@Url.Content("/TheLoai/suaTheLoai/"+item.maloai)" method="post">

                                                <div class="modal" id="modalChinhsua_@dem">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Chỉnh sửa thể loại</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>


                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row form-group">
                                                                        <div class="col-md-3">Mã thể loại:</div>
                                                                        <div class="col-md-6"><input type="text" name="maloai" value="@item.maloai" class="form-control" readonly /></div>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-3">Tên thể loại:</div>
                                                                        <div class="col-md-6"><input type="text" name="tentl" value="@item.tentl" class="form-control" /></div>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">&nbsp;</div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-3">Ghi chú:</div>
                                                                        <div class="col-md-6"><textarea name="ghichu" class="form-control">@item.ghichu</textarea></div>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="modal-footer">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-md-1">&nbsp;</div>
                                                                        <div class="col-md-8"><button type="submit" class="btn btn-primary">Chỉnh sửa</button></div>
                                                                        <div class="col-md-3"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    dem++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
