@model QLSachOnline.Models.tacgia
@{
    ViewBag.Title = "Chi tiết tác giả";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h2>Chi tiết tác giả</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 font-weight-bold">Mã tác giả:</div>
                <div class="col-md-10">@Model.matg</div>
            </div>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Tên tác giả:</div>
                <div class="col-md-10">@Model.tentg</div>
            </div>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Ngày sinh:</div>
                <div class="col-md-10">@Model.ngaysinh.Value.ToShortDateString()</div>
            </div>
            <div class="row">
                <div class="col-md-12 font-weight-bold">Giới tính: @((bool)Model.gioitinh?"Nam":"Nữ")</div>
            </div>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Quê quán:</div>
                <div class="col-md-10">@Model.quequan</div>
            </div>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Nghệ danh:</div>
                <div class="col-md-10">@Model.nghedanh</div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">Số lượng tác phẩm có trên trang:</div>
                <div class="col-md-9">@Model.saches.Count</div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-3 col-6"><a href="@Url.Content("/TacGia/formChinhSuaTG/"+Model.matg)" class="btn btn-primary">Chỉnh sửa</a></div>
                <div class="col-md-9 col-6"><a href="@Url.Content("/TacGia/formThemTacGia")" class="btn btn-primary">Thêm tác giả</a></div>
            </div>
        </div>
    </div>
</div>


