@model QLSachOnline.Models.tacgia
@{
    ViewBag.Title = "Xóa tác giả";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}



<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h2>Xóa tác giả</h2></div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.matg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.matg)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.tentg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tentg)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ngaysinh)
                </dt>

                <dd>
                    @Model.ngaysinh.Value.ToShortDateString()
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.quequan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.quequan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nghedanh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nghedanh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.gioitinh)
                </dt>

                <dd>
                    @((bool)Model.gioitinh?"Nam":"Nữ")
                </dd>

            </dl>
        </div>
        <div class="card-footer">
            @if (ViewBag.flagXoa != null)
            {
                using (Html.BeginForm("xoaTacGia", "TacGia", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.matg)
                    <div class="form-actions no-color">
                        <input type="submit" value="Xóa" class="btn btn-outline-danger" />
                    </div>
                }
            }
            else
            {
                <h3 class="alert alert-danger"><strong>Cảnh báo !!</strong>Không thể xóa</h3>
            }
        </div>
    </div>
</div>

