@model IEnumerable<QLSachOnline.Models.tacgia>
@{
    ViewBag.Title = "Quản lý tác giả";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Quản lý tác giả</h2>
                    <a href="@Url.Content("/TacGia/formThemTacGia")" class="btn btn-primary">Thêm tác giả</a>
                </div>

                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mã tác giả</th>
                                <th>Tên tác giả</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(ModelItem => item.matg)</td>
                                    <td><a href="@Url.Content("/TacGia/formChiTietTacGia/"+item.matg)">@Html.DisplayFor(ModelItem => item.tentg)</a></td>
                                    <td>@item.ngaysinh.Value.ToShortDateString()</td>
                                    <td>@(item.gioitinh.Equals(true) ? "Nam" : "Nữ")</td>
                                    <td><a href="@Url.Content("/TacGia/formXoaTacGia/"+item.matg)" class="btn btn-outline-primary">Xóa</a></td>
                                    <td><a href="@Url.Content("/TacGia/formChinhSuaTG/"+item.matg)" class="btn btn-outline-primary">Chỉnh sửa</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

