@model QLSachOnline.Models.sach

@{
    ViewBag.Title = "Sửa sách";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
    QLSachOnline.Models.QLySachOnline db = new QLSachOnline.Models.QLySachOnline();
}

<div>&nbsp;</div>
<div class="col-md-10">
    <div>
        @Html.ActionLink("Trở về", "QuanLySach", "Sach", null, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
    <h2>Sửa sách</h2>
    @using (Html.BeginForm("ChinhSuaSach", "Sach", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.masach, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.masach, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                    @Html.ValidationMessageFor(model => model.masach, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tensach, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tensach, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tensach, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.namxuatban, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.namxuatban, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.namxuatban, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <a href="#" data-toggle="collapse" data-target="#theloai" class="font-weight-bold"><span style="color:black;">Thể loại</span><i class="fas fa-arrow-down"></i></a>
                <div id="theloai" class="collapse row" style="border:solid;border-radius:15px;">
                    @foreach (var item in db.theloais)
                    {
                        if (Model.theloais.Where(x => x.maloai == item.maloai).ToList().Count != 0)
                        {
                            <div class="form-check-inline" style="margin:10px">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="maloai" value="@item.maloai" checked />@item.tentl
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline" style="margin:10px">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="maloai" value="@item.maloai" />@item.tentl
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <a href="#" data-toggle="collapse" data-target="#tacgiaCL" class="font-weight-bold"><span style="color:black;">Tác giả</span><i class="fas fa-arrow-down"></i></a>
                <div id="tacgiaCL" class="collapse row" style="border:solid;border-radius:15px;">
                    @foreach (var item in db.tacgias)
                    {
                        if (Model.tacgias.Where(x => x.matg == item.matg).ToList().Count != 0)
                        {
                            <div class="form-check-inline" style="margin:10px">
                                <label class="form-check-label">
                                    <input type="checkbox" checked class="form-check-input" name="matg" value="@item.matg" data-toggle="popover" data-placement="top" data-html="true" title="Thông tin tác giả" data-trigger="focus" data-content="@item.toString()" />@item.tentg
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check-inline" style="margin:10px">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="matg" value="@item.matg" data-toggle="popover" data-placement="top" data-html="true" title="Thông tin tác giả" data-trigger="focus" data-content="@item.toString()" />@item.tentg
                                </label>
                            </div>
                        }
                    }
                </div>

                <!--JAVASCRIPT POPOVER-->
                <script>
                    $(document).ready(function () {
                        $('[data-toggle="popover"]').popover();
                    });
                </script>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nhaxuatban, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.manhaxuatban, new SelectList(db.nhaxuatbans, "manhaxuatban", "tennhaxuatban"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.manhaxuatban, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.hinhanh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="hinhanh" class="form-control" value="@Model.hinhanh"/>
                    @Html.ValidationMessageFor(model => model.hinhanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tomtat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.tomtat, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tomtat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.phi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phi, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.phi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
<div>&nbsp;</div>