@model QLSachOnline.Models.sach
@{
    ViewBag.Title = "Tên sách";
    Layout = "~/Views/_Layout/_LayoutNoidung.cshtml";
}

<!-- ======= Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="col-md-6 col-12 col-lg-6 mb-5 mb-lg-0">

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/Images/Images_SP/@Model.hinhanh" class="img-fluid" alt="">
                    </div>

                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-12">
                <div class="portfolio-info">
                    <h3>Giới thiệu</h3>
                    <ul>
                        <li><strong>Tên truyện</strong>: @Model.tensach</li>

                        <li>
                            <strong>Thể loại</strong>:
                            @foreach (var item in Model.theloais)
                            {
                                <span><a href="@Url.Content("/Home/formTheLoaiFilter/"+item.maloai)" class="text-black">@item.tentl</a> &nbsp;&nbsp;&nbsp;</span>
                            }
                        </li>
                        <li>
                            <strong>Tác giả</strong>:
                            @foreach (var item in Model.tacgias)
                            {
                                <span>@item.tentg &nbsp;&nbsp;</span>
                            }
                        </li>

                        <li><strong>Năm xuất bản</strong>: @Model.namxuatban</li>
                        <li><strong>Nhà xuất bản</strong>:  @Model.nhaxuatban.tennhaxuatban </li>
                        <li>&nbsp;</li>
                        <li>
                            @if ((int)Model.phi != 0)
                            {
                                <a href="@Url.Content("/Home/formThanhToanSach/"+Model.masach)" class="btn btn-success">Mua</a> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                            }
                            else
                            {
                                if (Model.chuongs.ToList().Count == 0)
                                {
                                    <a href="@Url.Content("/Home/formThanhToanSach/"+Model.masach)" class="btn btn-primary disabled">Sắp có</a> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                }
                                else
                                {
                                    <a href="@Url.Content("/Sach/formNoiDung/"+Model.masach+"-"+Model.chuongs.First().machuong)" class="btn btn-primary">Đọc</a> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                }
                            }
                            <a href="@Url.Content("/Sach/yeuThich/"+Model.masach)" class="btn btn-danger"> <i class="fas fa-heart"></i>&nbsp;Yêu thích</a>
                        </li>
                        @if ((int)Model.phi != 0)
                        {
                            <li><strong>Giá</strong>: @String.Format("{0:n0}", System.Convert.ToInt32(Model.phi)) &nbsp; <strong>VNĐ</strong></li>
                        }
                    </ul>
                </div>


                <div class="portfolio-description">
                    <h2>Tóm tắt</h2>
                    <p>
                        Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                    </p>
                </div>
            </div>


        </div>

        <!-- ======= Chuong Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Chương</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <ul class="faq-list">
                            @if (Model.chuongs.ToList().Count != 0) { 
                                foreach (var item in Model.chuongs)
                                {
                                    <li>
                                        <a href="@Url.Content("/Sach/formNoiDung/"+Model.masach+"-"+item.machuong)" class="collapsed question">@item.tenchuong</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->



    </div>
</section><!-- End  Details Section -->
