@model IEnumerable<QLSachOnline.Models.theloai>
@{
    ViewBag.Title = "Thêm sách";
    Layout = "~/Views/_LayoutPage1.cshtml";
    IEnumerable<QLSachOnline.Models.nhaxuatban> dsNXB = ViewBag.dsNXB as IEnumerable<QLSachOnline.Models.nhaxuatban>;
    IEnumerable<QLSachOnline.Models.tacgia> dsTacGia = ViewBag.dsTacGia as IEnumerable<QLSachOnline.Models.tacgia>;
}

<p>
    <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
</p>
<h2>Thêm sách</h2>
<div class="container-fluid">
    <form action="@Url.Content("/Sach/themSach")" method="post">
        <div class="row form-group">
            <div class="col-md-1 font-weight-bold">Mã sách:</div>
            <div class="col-md-2"><input type="text" name="masach" value="" class="form-control" /></div>
            <div class="col-md-1 font-weight-bold">Tên sách:</div>
            <div class="col-md-3"><input type="text" name="tensach" value="" class="form-control" /></div>
            <div class="col-md-1 font-weight-bold">Năm sản xuất:</div>
            <div class="col-md-2"><input type="number" name="namxuatban" value="" class="form-control" /></div>
            <div class="col-md-2">&nbsp;</div>
        </div>

        <div class="row form-group">
            <div class="col-md-1 font-weight-bold">Thể loại:</div>
            
            <div class="col-md-2">
                <select class="form-control selectpicker" name="maloai" multiple data-live-search="true">
                    @foreach (var item in Model)
                    {
                        <option value="@item.maloai">@item.tentl</option>
                    }
                </select>
            </div>

            <script type="text/javascript">
                $('select').selectpicker();
            </script>


            <div class="col-md-1 font-weight-bold">Nhà xuất bản:</div>
            <div class="col-md-3">
                <select class="form-control" name="manhaxuatban" >
                    @foreach (var item in dsNXB)
                    {
                        <option value="@item.manhaxuatban">@item.tennhaxuatban</option>
                    }
                </select>
            </div>
            <div class="col-md-1 font-weight-bold">Tác giả:</div>
            <div class="col-md-2">
                <select class="form-control selectpicker" name="matg" multiple data-live-search="true">
                    @foreach (var item in dsTacGia)
                    {
                        <option value="@item.matg">@item.tentg</option>
                    }
                </select>
            </div>
            <div class="col-md-2">&nbsp;</div>

        </div>
        <div class="row">
            <div class="col-md-1 font-weight-bold">Giá:</div>
            <div class="col-md-3"><input type="number" name="phi" class="form-control" /></div>
            <div class="col-md-8">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-11">&nbsp;</div>
            <div class="col-md-1">
                <input type="submit" value="Thêm" class="btn btn-primary form-control" />
            </div>
        </div>
    </form>
</div>
