@model QLSachOnline.Models.sach
@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>
    <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
</p>
<h2>Thông tin chi tiết</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"><a href="@Url.Content("/Sach/indexSach/"+Model.masach)" class="btn btn-primary">Đọc</a></div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2"><a href="@Url.Content("/Sach/formChinhSua/"+Model.masach)" class="btn btn-primary">Chỉnh sửa</a></div>

        <div class="col-md-1">&nbsp;</div>

        <div class="col-md-2">
            <!-- Model thêm chương sách -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalThemChuong">Thêm chương</button>
            <form action="@Url.Content("/Sach/themChuongSach")" method="post">

                <div class="modal" id="modalThemChuong">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Thêm chương</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row"><div class="col-md-12"><hr /></div></div>
                                    <div class="row form-group">
                                        <div class="col-md-5 font-weight-bold">Mã chương:</div>
                                        <div class="col-md-6"><input type="text" name="machuong" class="form-control" /></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-5 font-weight-bold">Tên chương:</div>
                                        <div class="col-md-6"><input type="text" name="tenchuong" class="form-control" /></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-5 font-weight-bold">Nội dung:</div>
                                        <div class="col-md-6"><input type="file" name="noidung" value="" class="form-control" /></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-1">&nbsp;</div>
                                        <div class="col-md-2"><button type="submit" class="btn btn-primary">Thêm</button></div>
                                        <div class="col-md-6">&nbsp;</div>
                                        <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Mã sách:</div>
        <div class="col-md-4">@Model.masach</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Tên sách:</div>
        <div class="col-md-4">@Model.tensach</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Thể loại:</div>
        @foreach (var item in Model.theloais)
        {
            <div class="col-md-4">@item.tentl &nbsp;</div>
        }
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Tác giả:</div>
        @foreach (var item in Model.tacgias)
        {
            <div class="col-md-4">@item.tentg &nbsp;</div>
        }
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Nhà xuất bản:</div>
        <div class="col-md-4">@Model.nhaxuatban.tennhaxuatban</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Năm sản xuất:</div>
        <div class="col-md-4">@Model.namxuatban</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Giá:</div>
        <div class="col-md-4">@Model.phi</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row"><div class="col-md-12 font-weight-bold"><hr /></div></div>
    <div class="row">
        <div class="col-md-4"><h3>Danh sách các chương</h3></div>
        <div class="col-md-8">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Mã chương</div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-2 font-weight-bold">Tên chương</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    @foreach (var item in Model.chuongs)
    {
        <div class="row">
            <div class="col-md-2">@item.machuong</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-2"><a href="#">@item.tenchuong</a></div>
            <div class="col-md-6">&nbsp;</div>
        </div>
    }
</div>