@model QLSachOnline.Models.sach
@{
    ViewBag.Title = "Tên sách";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@{
    IEnumerable<QLSachOnline.Models.sach_theloai> dsS_TL = ViewBag.dsSach_TL as IEnumerable<QLSachOnline.Models.sach_theloai>;
    IEnumerable<QLSachOnline.Models.sach_tacgia> dsS_TG = ViewBag.dsSach_TG as IEnumerable<QLSachOnline.Models.sach_tacgia>;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-3"><img src="@Url.Content("/Images/Images_SP/Pro1.jpg")" height="250" width="200" /></div>
                <div class="container-fluid col-md-9">
                    <div class="row">
                        <div class="col-md-2 font-weight-bold">Tên:</div>
                        <div class="col-md-8">@Model.tensach</div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 font-weight-bold">Thể loại:</div>
                        @foreach (var item in dsS_TL)
                        {
                            if (Model.masach.Equals(item.masach))
                            {
                                <div class="col-md-8">@item.theloai.tentl</div>
                                break;
                            }
                        }

                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 font-weight-bold">Tác gỉả:</div>
                        @foreach (var item in dsS_TG)
                        {
                            if (Model.masach.Equals(item.masach))
                            {
                                <div class="col-md-8">@item.tacgia.tentg</div>
                                break;
                            }
                        }
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 font-weight-bold">Nhà xuất bản:</div>
                        <div class="col-md-8">@Model.nhaxuatban.tennhaxuatban</div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 font-weight-bold">Năm:</div>
                        <div class="col-md-8">@Model.namxuatban</div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><a href="#" class="btn btn-primary">Đọc</a></div>
                        <div class="col-md-10">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row rounded" style="background-color:#AAAAAA">
                <div class="col-md-2 font-weight-bold">Tóm tắt nội dung</div>
                <div class="col-md-10">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    NÔI DUNG TÓM TẮT BLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                    BLA BLA BLABLA BLA BLABLA BLA BLA
                </div>
                <div class="col-md-5">&nbsp;</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row rounded" style="background-color:#AAAAAA">
                <div class="col-md-2 font-weight-bold">Chương:</div>
                <div class="col-md-10">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-2"><a href="#">Chương 1</a></div>
            </div>
            <div class="row">
                <div class="col-md-2"><a href="#">Chương 2</a></div>
            </div>
            <div class="row">
                <div class="col-md-2"><a href="#">Chương 3</a></div>
            </div>
        </div>
    </div>
</div>
