@model IEnumerable<QLSachOnline.Models.sach_theloai>
@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Quản lý sách</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Content("/Sach/formThemSach")" class="btn btn-primary">Thêm sách</a>
        </div>
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Sort</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 font-weight-bold">Mã </div>
        <div class="col-md-2 font-weight-bold">Tên sách</div>
        <div class="col-md-2 font-weight-bold">Thể loại</div>
        <div class="col-md-2 font-weight-bold">Tác giả</div>
        <div class="col-md-1 font-weight-bold">Giá</div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-2">
            <a href="#">Chọn tất cả</a>
        </div>

    </div>
    @{ 
        IEnumerable<QLSachOnline.Models.sach_tacgia> dsS_TG = ViewBag.dsSach_TG as IEnumerable<QLSachOnline.Models.sach_tacgia>;
    }
    @foreach (var item in Model)
    { 
    <div class="row">
        <div class="col-md-1">
            @item.masach
        </div>
        <div class="col-md-2">
            <a href="@Url.Content("/Sach/formThongTinChiTiet/"+item.masach)">@item.sach.tensach</a>
        </div>
        <div class="col-md-2">@item.theloai.tentl</div>
        @foreach (var item2 in dsS_TG)
        {
            if (item.masach.Equals(item2.masach))
            {
                <div class="col-md-2">
                    @item2.tacgia.tentg
                </div>
                break;
            }
        }
        <div class="col-md-1">
            @item.sach.phi
        </div>
        <div class="col-md-2 btn-group">
            <a href="@Url.Content("/Sach/formXoaSach/"+item.masach)" class="btn btn-outline-primary">Xóa</a>
            <a href="@Url.Content("/Sach/formChinhSua/"+item.masach)" class="btn btn-outline-primary">Chỉnh sửa</a>
        </div>
        <div class="col-md-2">
            <input type="checkbox" name="name" value=""  class="form-check"/>
        </div>
    </div>
    }
</div>
