@model IEnumerable<QLSachOnline.Models.sach>
@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Views/_LayoutPage1.cshtml";
    IEnumerable<QLSachOnline.Models.tacgia> dsTG = ViewBag.dsTG as IEnumerable<QLSachOnline.Models.tacgia>;
    IEnumerable<QLSachOnline.Models.theloai> dsTL = ViewBag.dsTL as IEnumerable<QLSachOnline.Models.theloai>;
}

<h2>Quản lý sách</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Content("/Sach/formThemSach")" class="btn btn-primary">Thêm sách</a>
        </div>
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Sort</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 font-weight-bold">Mã </div>
        <div class="col-md-2 font-weight-bold">Tên sách</div>
        <div class="col-md-2 font-weight-bold">Thể loại</div>
        <div class="col-md-2 font-weight-bold">Tác giả</div>
        <div class="col-md-1 font-weight-bold">Giá</div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-2">
            <a href="#">Chọn tất cả</a>
        </div>

    </div>
    @foreach (var item in Model)
    { 
<div class="row">
    <div class="col-md-1">
        @item.masach
    </div>
    <div class="col-md-2">
        <a href="@Url.Content("/Sach/formThongTinChiTiet/"+item.masach)">@item.tensach</a>
    </div>
    <div class="col-md-2">
        @foreach (var item2 in dsTL)
        {
            if (item.theloai.Contains(item2))
            {
                <span> @item2.tentl &nbsp;</span>
            }
        }
     </div>
    <div class="col-md-2">
        @foreach (var item2 in dsTG)
        {
            if (item.tacgia.Contains(item2))
            {
                <span>@item2.tentg &nbsp;</span>
            }
        }
    </div>
        <div class="col-md-1">
            @item.phi
        </div>
        <div class="col-md-2 btn-group">
            <a href="@Url.Content("/Sach/formXoaSach/"+item.masach)" class="btn btn-outline-primary">Xóa</a>
            <a href="@Url.Content("/Sach/formChinhSua/"+item.masach)" class="btn btn-outline-primary">Chỉnh sửa</a>
        </div>
        <div class="col-md-2">
            <input type="checkbox" name="name" value="" class="form-check" />
        </div>
    </div>
    }
</div>
