@model IEnumerable<QLSachOnline.Models.theloai>
@{
    ViewBag.Title = "Quản lý thể loại";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Quản lý thể loại</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-2">
            <!-- Model thêm thể loại -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelThem">
                Thêm thể loại
            </button>
            <form action="@Url.Content("/TheLoai/themTheLoai")" method="post">

                <div class="modal" id="modelThem">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Thêm thể loại</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3">Mã thể loại:</div>
                                        <div class="col-md-3"><input type="text" name="name" /></div>
                                        <div class="col-md-6">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Tên thể loại:</div>
                                        <div class="col-md-3"><input type="text" name="name" /></div>
                                        <div class="col-md-6">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Ghi chú:</div>
                                        <div class="col-md-3"><textarea name=""></textarea></div>
                                        <div class="col-md-6">&nbsp;</div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-1">&nbsp;</div>
                                        <div class="col-md-2"><button type="submit" class="btn btn-primary">Thêm</button></div>
                                        <div class="col-md-6">&nbsp;</div>
                                        <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <!-- Danh sách thể loại -->
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-1 font-weight-bold">Mã thể loại</div>
        <div class="col-md-2 font-weight-bold">Tên thể loại</div>
        <div class="col-md-4 font-weight-bold">Ghi chú</div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">

            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-1">@item.maloai</div>
            <div class="col-md-2">@item.tentl</div>
            <div class="col-md-4">@item.ghichu</div>

            <div class="col-md-1">
                <!-- Model xóa thể loại -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modelXoa">Xóa</button>
                <form action="@Url.Content("/TheLoai/xoaTheLoai")" method="post">

                    <div class="modal" id="modelXoa">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Xóa thể loại</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>


                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3">Mã thể loại:</div>
                                            <div class="col-md-3">MLA MLM!!</div>
                                            <div class="col-md-6">&nbsp;</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">&nbsp;</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">Tên thể loại:</div>
                                            <div class="col-md-3">AAASS</div>
                                            <div class="col-md-6">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-1">&nbsp;</div>
                                            <div class="col-md-2"><button type="submit" class="btn btn-primary">Xóa</button></div>
                                            <div class="col-md-6">&nbsp;</div>
                                            <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                            <div class="col-md-1">&nbsp;</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-1">

                <!-- Model chỉnh sửa thể loại -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modelChinhSua">Chỉnh sửa</button>
                <form action="@Url.Content("/TheLoai/xoaTheLoai")" method="post">

                    <div class="modal" id="modelChinhSua">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Chỉnh sửa thể loại</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>


                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3">Mã thể loại:</div>
                                            <div class="col-md-3">MLA MLM!!</div>
                                            <div class="col-md-6">&nbsp;</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">&nbsp;</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">Tên thể loại:</div>
                                            <div class="col-md-3"><input type="text" name="name" value="AAASS" /></div>
                                            <div class="col-md-6">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-1">&nbsp;</div>
                                            <div class="col-md-4"><button type="submit" class="btn btn-primary">Chỉnh sửa</button></div>
                                            <div class="col-md-5">&nbsp;</div>
                                            <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    }
    </div>
