@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "IndexDangKy";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<!-- ======= Đăng ký  Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 ">&nbsp;</div>
            <div class="col-lg-6 ">
                <div class="about section-bg" style="border-radius: 30px; align-content: center;">
                    <div>&nbsp;</div>
                    <div class="section-title">
                        <h2>Đăng ký</h2>
                        <h3>Đăng ký <span>tài khoản</span></h3>
                        <p><hr></p>
                    </div>
                    <form action="@Url.Content("/User/Dangky")" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row text-center">
                            <div class="col-md-1 col-1 col-lg-1">&nbsp;</div>
                            <div class="col-md-10 col-10 col-lg-10">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.taikhoan, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tài khoản" } })
                                        @Html.ValidationMessageFor(model => model.taikhoan, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.matkhau, new { htmlAttributes = new { @class = "form-control",@type="password", @placeholder = "Mật khẩu" } })
                                        @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                                        @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <button type="submit" class="btn btn-primary">Đăng ký</button>
                                <div>&nbsp;</div>
                            </div>
                            <div class="col-md-1 col-1 col-lg-1">&nbsp;</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 ">&nbsp;</div>
        </div>
    </div>
</section><!-- End Đăng ký Section -->