@model IEnumerable<QLSachOnline.Models.sach>
@{
    ViewBag.Title = "sachYeuThichUser";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<div class="section-title">
    <h2>Danh sách yêu thích</h2>
</div>
@if (Model.Count() == 0)
{
    <div class="text-center"><h3>Chưa có sách yêu thích</h3></div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-3 col-12 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="@Url.Content("/Sach/indexSach/" + item.masach)">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/Images/Images_SP/@item.hinhanh" class="img-fluid" alt="">
                    <div>&nbsp;</div>
                    <h4 class="title"><a href="@Url.Content("/Sach/indexSach/" + item.masach)">@item.tensach</a></h4>
                    <h4 class="title"><a href="@Url.Content("/Sach/indexSach/" + item.masach)">Thể loại:</a></h4>
                    @foreach (var item2 in item.theloais)
                    {
                        <span><a href="@Url.Content("/Home/formTheLoaiFilter/" + item2.maloai)" class="text-black">@item2.tentl</a> &nbsp;&nbsp;&nbsp;</span>
                    }
                    <a href="@Url.Content("/User/huyYeuThich/" + item.masach)" class="btn btn-outline-danger text-black">Bỏ thích</a>
                </div>
            </a>
        </div>
    }
}