@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "thongTinNguoiDung";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}


<!-- ======= THONG TIN USER Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Thông tin người dùng</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-12">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col form-group">
                            <label for="taikhoan"><strong>Tên tài khoản</strong></label>
                            <input type="text" name="taikhoan" class="form-control" value="@Model.taikhoan" id="name" placeholder="Tài khoản" readonly>
                        </div>
                        <div class="col form-group">
                            <label for="matkhau"><strong>Mật khẩu</strong></label>
                            <input type="password" class="form-control" name="matkhau" value="@Model.matkhau" id="txtMK" placeholder="Mật khẩu" readonly>
                            <a href="#" id="btnSuaMK">Sửa</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sdt"><strong>Số điện thoại</strong></label>
                        <input type="text" class="form-control" name="sdt" value="@Model.sdt" id="subject" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label for="email"><strong>Email</strong></label>
                        <input type="text" class="form-control" name="email" value="@Model.email" id="subject" placeholder="Email">
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Cập nhật</button></div>


                </form>
            </div>
        </div>


    </div>
</section><!-- End THONG TIN USER  Section -->

<!-- ======= GIAO DICH Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
        <div>&nbsp;</div>
        <div class="section-title">
            <h2>Lịch sử giao dịch</h2>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-4"><h5><span>Ngày giao dịch</span></h5></div>
                <div class="col-4"><h5><span>Tên sách</span></h5></div>
                <div class="col-4"><h5><span>Giá</span></h5></div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-12 text-center">

                @foreach (var item in Model.giaodiches)
                {
                    <div class="row">
                        <div class="col-4">@item.ngaygiaodich.Value.ToShortDateString()</div>
                        <div class="col-4">@item.sach.tensach</div>
                        <div class="col-4">@item.sach.phi</div>
                    </div>
                    <hr>
                }

            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</section><!-- End Giao dich Section -->