@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "ThongTinChiTietUser";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<!-- ======= TAI KHOAN Section ======= -->
<section id="services" class="services bg-white" style="border-radius:30px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Tài khoản</h2>
            <h3>ID: <span>@Model.taikhoan</span></h3>
            <p>Bạn có thể chọn các mục sau để điều chỉnh tài khoản.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <a href="@Url.Content("/User/thongTinNguoiDung/")" style="height: 100%; width: 100%;">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-info"></i></div>
                        <h4>Thông tin</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <a href="@Url.Content("/User/sachYeuThichUser/")" style="height: 100%; width: 100%;">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-book"></i></div>
                        <h4>Sách yêu thích</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <a href="@Url.Content("/User/baoMatThietLap/")" style="height: 100%; width: 100%;">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <h4>Thiết lập tài khoản</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <a href="#" style="height: 100%; width: 100%;">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-money-bill"></i></div>
                        <h4>---------</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <a href="@Url.Content("/User/logout/")" style="height: 100%; width: 100%;">
                    <div class="icon-box" style="height: 100%; width: 100%;">
                        <div class="icon"><i class="fas fa-sign-out-alt"></i></div>
                        <h4>Đăng xuất</h4>
                    </div>
                </a>
            </div>

        </div>

    </div>
</section><!-- End TAI KHOAN Section -->