@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "Thông tin";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}


<!-- ======= THONG TIN USER Section ======= -->
<section id="contact" class="contact bg-white" style="border-radius:30px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Thông tin người dùng</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12">

                <div class="form-group">
                    <label for="taikhoan"><strong>Tên tài khoản</strong></label>
                    <input type="text" name="taikhoan" class="form-control" value="@Model.taikhoan" id="taikhoan" placeholder="Tài khoản" readonly>
                </div>
                <div class="row">
                    <div class="col-lg col-md col-12 form-group">
                        <label for="txtYT"><strong>Số sách yêu thích</strong></label>
                        <input type="text" class="form-control" id="txtYT" value="0" placeholder="Số lượng sách yêu thích" readonly>
                    </div>
                    <div class="col-lg col-md col-12 form-group">
                        <label for="txtTT"><strong>Số phương thức thanh toán đã liên kết</strong></label>
                        <input type="text" class="form-control" id="txtTT" value="0" placeholder="Số lượng phương thức thanh toán" readonly>
                    </div>
                    <div class="col-lg col-md col-12 form-group">
                        @{ 
                            decimal tongTien = 0;
                            foreach (var item in Model.usergois)
                            {
                                tongTien += (decimal)item.goi.gia;
                            }
                        }
                        <label for="txtTongTien"><strong>Số tiền đã chi</strong></label>
                        <input type="text" class="form-control" id="txtTongTien" value="@String.Format("{0:n0}",tongTien) VNĐ" placeholder="Số lượng phương thức thanh toán" readonly>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section><!-- End THONG TIN USER  Section -->

<div>&nbsp;</div>

<!-- ======= GIAO DICH Section ======= -->
<section id="about" class="about bg-white" style="border-radius:30px;">
    <div class="container" data-aos="fade-up">
        <div>&nbsp;</div>
        <div class="section-title">
            <h2>Lịch sử giao dịch</h2>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-4"><h5><span>Thời gian giao dịch</span></h5></div>
                <div class="col-4"><h5><span>Tên gói Premium</span></h5></div>
                <div class="col-4"><h5><span>Giá</span></h5></div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-12 text-center">

                @foreach (var item in Model.usergois)
                {
                    <div class="row">
                        <div class="col-4">@item.ngaymua</div>
                        <div class="col-4">@item.goi.tengoi</div>
                        <div class="col-4">@String.Format("{0:n0}", item.goi.gia) <strong>&nbsp;VNĐ</strong></div>
                    </div>
                    <hr>
                }
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</section><!-- End Giao dich Section -->