@model QLSachOnline.Models.tacgia
@{
    ViewBag.Title = "Xóa tác giả";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<p>
    <a href="@Url.Content("/TacGia/QuanLyTacGia")" class="btn btn-primary">Trở về</a>
</p>
<h2>Xóa tác giả</h2>
<div class="container-fluid">
    <form action="@Url.Content("/TacGia/xoaTacGia/")" method="post">
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 font-weight-bold">Mã tác giả:</div>
            <div class="col-md-2">@Model.matg</div>
            <div class="col-md-2 font-weight-bold">Tên tác giả:</div>
            <div class="col-md-3">@Model.tentg</div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 font-weight-bold">Ngày sinh:</div>
            <div class="col-md-2">@Model.ngaysinh</div>
            <div class="col-md-2 font-weight-bold">Giới tính:</div>
            @if (Model.gioitinh.Equals(true))
            {
                <div class="col-md-3">Nam</div>
            }
            else
            {
                <div class="col-md-3">Nữ</div>
            }

            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <input type="submit" value="Xóa" class="btn btn-primary" />
            </div>
            <div class="col-md-9">&nbsp;</div>
        </div>
    </form>
</div>

