@model DACN.Models.sach
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Quyết định xóa</title>
</head>
<body class="bg-secondary">
    <div class="container rounded bg-dark">
        <p>
            <a href="@Url.Content("/Home/formXoaSach")" class="btn btn-primary">Trờ về</a>
            <h3 class="text-light">Thông tin sách</h3>
        </p>
        @{ 
            <table class="table bg-warning">
                <tr>
                    <td>Mã sách:</td>
                    <td>@Model.masach</td>
                </tr>
                <tr>
                    <td>Tên sách:</td>
                    <td>@Model.tensach</td>
                </tr>
                <tr>
                    <td>Thể loại:</td>
                    <td>@Model.theloai.tentl</td>
                </tr>
                <tr>
                    <td>Tên tác giả:</td>
                    <td>@Model.tacgia.tentg</td>
                </tr>
                <tr>
                    <td>Nhà xuất bản:</td>
                    <td>@Model.nhaxuatban.tennhaxuatban</td>
                </tr>
                <tr>
                    <td>Năm xuất bản:</td>
                    <td>@Model.namxuatban</td>
                </tr>
                <tr>
                    <td>Số chương:</td>
                    <td>@Model.sochuong</td>
                </tr>
                <tr>
                    <td>Giá:</td>
                    <td>@Model.phi</td>
                </tr>
            </table>
            <p>
                <a href="@Url.Content("/Home/xoaSach/"+Model.masach)" class="btn btn-primary text-light font-weight-bold">Xóa sách</a>
            </p>
        }
    </div>
</body>
</html>
