@model IEnumerable<DACN.Models.sach>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Quản lý xóa sách</title>
</head>
<body class="bg-secondary">
    <div class="container rounded bg-dark">
        <p>
            <a href="@Url.Content("/Home/formQuanLySach")" class="btn btn-primary">Trờ về</a>
            <h3 class="text-light">Trang Xóa Sách</h3>
        </p>
        <table class="table-striped table-hover bg-warning">
            <thead>
                <tr>
                    <th>Tên sách</th>
                    <th>Mã sách</th>
                    <th>Thể loại</th>
                    <th>Số chương</th>
                    <th>Tác giả</th>
                    <th>Nhà xuất bản</th>
                    <th>Giá</th>
                    <th>&nbsp;</th>
                    <th class="align-items-center">Chọn tất cả <br /> <input type="checkbox" value="" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.tensach</td>
                        <td>@item.masach</td>
                        <td>@item.theloai.tentl</td>
                        <td>@item.sochuong</td>
                        <td>@item.tacgia.tentg</td>
                        <td>@item.nhaxuatban.tennhaxuatban</td>
                        <td>@item.phi</td>
                        <td><a href="@Url.Content("/Home/formQuyetDinhXoa/"+item.masach)" class="btn btn-outline-primary">Xóa</a></td>
                        <td><input type="checkbox" name="@item.masach" value="" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
